@font-face {
    font-family: museumb;
    src: url(LTMuseum-Bold.ttf);
  }

@font-face {
    font-family: museumr;
    src: url(LTMuseum-Reg.ttf);
}

body {
    background-color: #ccb38f;
    color: black;
    font-family: museumr;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 30px;
}

a {
    font-size: 50px;
    color: black;
}

.homegallink {
    font-size: 30px;
    text-decoration: underline;
}

.center {
    text-align: center;
}

.head1 {
    background-color: #ccb38f;
    font-size: 100px;
}

.button {
    font-size: 30px;
    background-color: #633b00;
    border: 20px solid #633b00;
    border-radius: 90px;
    text-decoration: none;
    color: #ccb38f;
}

.logo {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
    font-size: 50px;
    text-decoration: none;
}